---
const { iconPath, title, url } = Astro.props;

interface Props {
  iconPath: string;
  title: string;
  url: string;
}
---

<a href={url} target="_blank" class="flex flex-col">
  <div class="[&>svg]:h-16 [&>svg]:w-16">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 496 512">
        <path
          d={iconPath} />
      </svg>
  </div>
  <h5 class="mt-3 text-center font-bold">{title}</h5>
</a>